{{!-- Just some plain text --}}
    <h1>Area 57 Construction</h1>
    <div id="navBar">
        <a href="./">Home</a> |
        <a href="./JobSites">Jobs</a> |
        <a href="./Tasks">Tasks</a> |
        <a href="./Contractors">Contractors</a> |
        <a href="./Trades">Trade</a> |
        <a href="./ContractorsTrades">Contractors Trades</a>
    </div>
    <br>
    <h2>Welcome to the Area 57 Project Management application! This portal captures active jobsites, contractors, trades
        and tasks to streamline your business. Please navigate to any of the pages to view, add, modify, or delete
        current records.
    </h2>